
* {
}
body {
    font:'Lucida sans',Arial,Helvetica;
    text-align: center;
    left:0px;
    background-color:#E8E8E8 ;
}

#scan {
 
  background-color: #ffffff;
  color:#505050  ;
  text-decoration:none;
  margin-top: 12em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  text-align:center;
  font-size:20px;
  border:2px solid #E0E0E0;
  width:88%;
 
}
#data {
 
  background-color: #ffffff;
  color:#505050  ;
  text-decoration:none;
  margin-top: 2em;
  padding-top:1em;
  padding-bottom:2em;
  text-align:center;
  font-size:20px;
  border:2px solid #E0E0E0;
  width:88%;
}
#txtName
{
width:90%;
margin-top:1.5em;
color:#0000FF;
padding-left:0.5em;
padding-right:0.5em;
}
.app
{
width:100%;
left:0;
}

